{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_clp/footer

    Page footer.

    Example context (json):
    {
        "output": {
            "course_footer": "More information about this course",
            "page_doc_link": "<a href='https://docs.moodle.org/'>Documentation for this page</a>",
            "login_info": "You are logged in as cute kitten",
            "supportemail": "<a href=\"#\">Contact site support</a>",
            "services_support_link": "Services and support"
        }
    }
}}
<footer class="clp-footer">
    <section class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-xs-12" style="background-color: #f7f1e3; height: 520px;">
                <h3 class="footer-title">Resources</h3>
                <ul class="footer-list-menu">
                    <li><a href="{{ config.wwwroot }}/evaluation-report.php">INDEPENDENT EVALUATION REPORT</a></li>
                    <li><a href="{{ config.wwwroot }}/formative-reports.php">FORMATIVE REPORT</a></li>
                    <li><a href="{{ config.wwwroot }}/annual-report.php">ANNUAL REPORT</a></li>
                    <li><a href="{{ config.wwwroot }}/magazines.php">MAGAZINES</a></li>
                    <li><a href="{{ config.wwwroot }}/brochure.php">BROCHURE</a></li>
                </ul>
                <h3 class="footer-title">Contact Info</h3>
                <a style="color:black;" href="tel:+7329728362">(732) 972-8362</a> <br/>
                <a style="color:black;" href="mailto:clp@clpweb.org">clp@clpweb.org</a>

                <h3 class="footer-title">Mailing Address</h3>
                <p class="address">Computer Literacy Program (CLP)<br>6 Tharp Lane <br/> Marlboro, NJ 07746, USA</p>
            </div>

            <div class="col-sm-4 col-xs-12" style="height: 520px;">
                <h3 class="footer-title">CLP Mission</h3>
                <p style="line-height: 20px;">Empowering underprivileged youths through computer literacy training and
                    technology-aided education.</p>
                <h3 class="footer-title">Follow Us</h3>
                <div class="row">
                    <div class="footer-social">
                        <a target="_blank" href="https://facebook.com/CLPUSAA" class="fa fa-facebook social-fb"></a>
                        <a target="_blank" href="https://www.instagram.com/clp_usa/" class="fa fa-instagram social-instagram"></a>
                        <a target="_blank" href="https://twitter.com/clp_usa" class="fa fa-twitter social-twitter"></a>
                        <a target="_blank" href="https://www.youtube.com/channel/UC3CIzUUXeDXspImUjubA19A" class="fa fa-youtube social-youtube"></a>
                        <a target="_blank" href="https://www.linkedin.com/company/computer-literacy-program-volunteers-for-underprivileged/" class="fa fa-linkedin social-linkedin"></a>
                    </div>
                </div>

                <h3 class="footer-title">Legal Info</h3>
                <ul class="footer-list-menu">
                    <li>IRS ID: <strong>46-0646134</strong></li>
                </ul>
            </div>
            <div class="col-sm-4 col-xs-12" style="background-color: #f7f1e3; height: 520px;">
                <h3 class="footer-title">Quick Links</h3>
                <ul class="footer-list-menu">
                    <li><a href="{{ config.wwwroot }}/donation-online.php">DONATE ONLINE</a></li>
                    <li><a href="{{ config.wwwroot }}/donation-mail.php">DONATE BY MAIL</a></li>
                    <li><a href="{{ config.wwwroot }}/donation-amazon.php">DONATE BY AMAZON-SMILE</a></li>
                    <li><a href="{{ config.wwwroot }}/sponsor-clc.php">SPONSOR A CLC</a></li>
                    <li><a href="{{ config.wwwroot }}/sponsor-scr.php">SPONSOR A SCR</a></li>
                    <li><a href="{{ config.wwwroot }}/sponsor-tokai.php">SPONSOR A TOKAI(টোকাই)-CLC</a></li>
                    <li><a href="{{ config.wwwroot }}/sponsor-computer.php">SPONSOR A COMPUTER</a></li>
                    <li><a href="{{ config.wwwroot }}/volunteer.php">BE A VOLUNTEER</a></li>
                    <li><a href="{{ config.wwwroot }}/contact-us.php">CONTACT US</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="background-color: #232121;">
                <p class="text-center" style="color: #FFF; padding: 5px;">Copyright &copy; CLP, {{currentyear}}</p>
            </div>
        </div>
    </section>
</footer>
