{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_clp/navbar

    This template renders the CLP top navigation bar.

    Example context (json):
    {
        "output": {
            "should_display_navbar_logo": true,
            "get_compact_logo_url": "http://example.com/image.png",
            "custom_menu": "<li>..</li>",
            "page_heading_menu": "<li>..</li>",
            "search_box": "<div><input type='text'></div>",
            "navbar_plugin_output": "<div class='dropdown'>Messaging</div>",
            "user_menu": "<div class='dropdown'>John Doe</div>"
        },
        "config": {
            "wwwroot": "#",
            "homeurl": "/my/"
        },
        "sitename": "Moodle Site"
    }
}}
<!-- Navbar Start-->
<style>
/* CLP: show ABOUT US (and other) dropdowns on hover at desktop width.
   !important is required because theme/clp/assets/js/menu.js sets an
   inline display:none on .dropdown when it initializes; an inline
   stylesheet !important rule beats that inline style so the hover shows. */
@media (min-width: 992px) {
    .defaultmainmenu-menu > li:hover > .dropdown,
    .defaultmainmenu-menu ul.dropdown li:hover > .dropdown {
        display: block !important;
        }
        /* Keep all top-level menu items on one line */
        .defaultmainmenu-menu {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }
        .defaultmainmenu-menu > li > a {
            font-size: 13px;
            padding: 0 10px;
            white-space: nowrap;
        }
        .defaultmainmenu-menu > li {
            white-space: nowrap;
        }
    }
}
</style>
<section class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-5">
                <ul class="social-icon">
                    <li>
                        <a href="https://www.facebook.com/CLPUSAA" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/clp_usa" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UC3CIzUUXeDXspImUjubA19A" target="_blank"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/clp_usa/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8 col-xs-7 text-right">
                <a href="#" class="thm-btn donate-box-btn">Donate</a>
            </div>
        </div>
    </div>
</section>
<!-- End of top-bar -->

<section class="theme_menu stricky">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="main-logo">
                    <a href="{{{ config.homeurl }}}">
                        <img alt="CLP" src="{{{ config.wwwroot }}}/theme/clp/assets/images/logo/clp-logo-2022-4.png" />
                    </a>
                </div>
            </div>
            <div class="col-md-9 menu-column">
                <nav class="defaultmainmenu" id="main_menu">
                    <ul class="defaultmainmenu-menu">
                        <li>
                            <a href="{{ config.wwwroot }}/about.php">ABOUT US</a>
                            <ul class="dropdown">
                                <li><a href="{{ config.wwwroot }}/history.php">HISTORY</a></li>
                                <li><a href="{{ config.wwwroot }}/mission.php">MISSION</a></li>
                                <li><a href="{{ config.wwwroot }}/impact.php">IMPACT</a></li>
                                <li><a href="{{ config.wwwroot }}/partners.php">PARTNERS</a></li>
                                <li><a href="{{ config.wwwroot }}/team.php">OUR TEAM</a></li>
                                <li><a href="{{ config.wwwroot }}/faq.php">FAQ</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">OUR WORK</a>
                            <ul class="dropdown">
                                <li><a href="{{ config.wwwroot }}/clc-teaching.php">COMPUTER LITERACY CENTER (CLC)</a></li>
                                <li><a href="{{ config.wwwroot }}/smart-classroom.php">SMART CLASSROOM (SCR)</a></li>
                                <li><a href="{{ config.wwwroot }}/remote-volunteer.php">REMOTE VOLUNTARY TEACHING (RVT)</a></li>
                                <li><a href="{{ config.wwwroot }}/connect-students.php">CONNECT STUDENTS AROUND THE WORLD (CSAW)</a></li>
                                <li><a href="{{ config.wwwroot }}/education-entertainment.php">EDUCATION THROUGH ENTERTAINMENT (EE)</a></li>
                                <li><a href="{{ config.wwwroot }}/success-stories.php">SUCCESS STORIES</a></li>
                                <li>
                                    <a href="#">MORE PROGRAMS</a>
                                    <ul class="dropdown">
                                        <li><a style="font-size: 12px;" href="{{ config.wwwroot }}/tokai.php">Sponsor a TOKAI(টোকাই)-CLC</a></li>
                                        <li><a style="font-size: 12px;" href="{{ config.wwwroot }}/five-dollar-graduate.php">5$ CLP Graduate</a></li>
                                        <li><a style="font-size: 12px;" href="{{ config.wwwroot }}/curriculum-development.php">Curriculum Development</a></li>
                                        <li><a style="font-size: 12px;" href="{{ config.wwwroot }}/training-material.php">Develop Training Material</a></li>
                                        <li><a style="font-size: 12px;" href="{{ config.wwwroot }}/teacher-training.php">Teacher Training Program</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ config.wwwroot }}/local/clp/program.php?program=clc">DATABASE</a>
                        </li>
                        <li>
                            <a href="#">Centers</a>
                            <ul class="dropdown">
                                <li>
                                    <a href="#">BE A SPONSOR</a>
                                    <ul class="dropdown">
                                        <li><a style="text-transform: none;" href="{{ config.wwwroot }}/sponsor-clc.php">Sponsor a CLC</a></li>
                                        <li><a style="text-transform: none;" href="{{ config.wwwroot }}/sponsor-scr.php">Sponsor a SCR</a></li>
                                        <li><a style="text-transform: none;" href="{{ config.wwwroot }}/sponsor-tokai.php">Sponsor a Tokai(টোকাই)-CLC</a></li>
                                        <li><a style="text-transform: none;" href="{{ config.wwwroot }}/sponsor-computer.php">Sponsor a Computer</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ config.wwwroot }}/school-info.php">All CENTERS</a></li>
                                <li><a href="{{ config.wwwroot }}/search-center.php">SEARCH CENTERS</a></li>
                            </ul>
                        </li>
                        <li>
                            <a style="text-transform: none;" href="{{ config.wwwroot }}/sherpurpr.php">SHERPUR PROJECT</a>
                        </li>
                        <li>
                            <a href="#">NEWS & REPORTS</a>
                            <ul class="dropdown">
                                <li><a href="{{ config.wwwroot }}/news-coverage.php">NEWS COVERAGE</a></li>
                                <li><a href="{{ config.wwwroot }}/latest-news.php">CLP BLOG</a></li>
                                <li>
                                    <a href="#">REPORT</a>
                                    <ul class="dropdown">
                                        <li><a href="{{ config.wwwroot }}/eos-evaluation-report-01.php">E. O. S. EVALUATION REPORT</a></li>
                                        <li><a href="{{ config.wwwroot }}/evaluation-report.php">INDEPENDENT EVALUATION REPORT</a></li>
                                        <li><a href="{{ config.wwwroot }}/formative-reports.php">FORMATIVE REPORT</a></li>
                                        <li><a href="{{ config.wwwroot }}/annual-report.php">ANNUAL REPORT</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ config.wwwroot }}/magazines.php">MAGAZINES</a></li>
                                <li><a href="{{ config.wwwroot }}/brochure.php">BROCHURE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">BE A SPONSOR</a>
                            <ul class="dropdown">
                                <li><a style="text-transform: none;" href="{{ config.wwwroot }}/sponsor-clc.php">Sponsor a CLC</a></li>
                                <li><a style="text-transform: none;" href="{{ config.wwwroot }}/sponsor-scr.php">Sponsor a SCR</a></li>
                                <li><a style="text-transform: none;" href="{{ config.wwwroot }}/sponsor-tokai.php">Sponsor a Tokai(টোকাই)-CLC</a></li>
                                <li><a style="text-transform: none;" href="{{ config.wwwroot }}/sponsor-computer.php">Sponsor a Computer</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">JOIN US</a>
                            <ul class="dropdown">
                                <li><a href="{{ config.wwwroot }}/sponsor-form.php">Donation Form</a></li>
                                <li>
                                    <a href="#">DONATE</a>
                                    <ul class="dropdown">
                                        <li><a href="{{ config.wwwroot }}/donation-online.php">DONATE ONLINE</a></li>
                                        <li><a href="{{ config.wwwroot }}/donation-mail.php">DONATE BY MAIL</a></li>
                                        <li><a href="{{ config.wwwroot }}/donation-amazon.php">DONATE BY AMAZON SMILE</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ config.wwwroot }}/volunteer.php">BE A VOLUNTEER</a></li>
                                <li><a href="{{ config.wwwroot }}/contact-us.php">CONTACT US</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
