<div class="alert alert-info">
    <h4>{{#str}}emptystate, local_centermanagement{{/str}}</h4>
    <p>{{#str}}emptystatedesc, local_centermanagement{{/str}}</p>
    <a href="{{addurl}}" class="btn btn-primary">{{#str}}addcenter, local_centermanagement{{/str}}</a>
</div>
