.video-section {
    width: 100%; /* Set the width of the section to 100% of its container */
    max-width: 800px; /* Set a maximum width for the section if needed */
    margin: 0 auto; /* Center the section horizontally */
    overflow: hidden; /* Ensure that the iframe doesn't overflow the section */
}

.youtube-video {
    width: 100%; /* Make the YouTube iframe fill the entire width of its container */
    height: 0; /* Set initial height to 0 to maintain aspect ratio */
    padding-bottom: 56.25%; /* Set the aspect ratio (16:9) for the YouTube video */
    position: relative; /* Enable positioning within the containing block */
}

.youtube-video iframe {
    position: absolute; /* Position the iframe absolutely within its container */
    width: 100%; /* Make the iframe fill its containing block */
    height: 100%; /* Make the iframe fill its containing block */
    border: 0; /* Remove border */
}
.media-box-border-shadow{
    box-shadow: 5px 5px 20px;
    border: 4px solid #f8f8ff;
    width: 300px;
}
